@import "resposive.scss";

.layout{
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include sm{
    background-color: #fbcbcb;
    max-width: 640px;
  }
  @include md{
    background-color: #cefbce;
    max-width: 768px;
  }
  @include lg{
    background-color: #e4dcae;
    max-width: 1280px;
  }
}